
.title__bio {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    margin: 1rem;
    font-weight: 700;
}

.title__profile {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    float: right;
    flex-direction: row;
}

.title__subsection {
    display: flex;
    flex-wrap: wrap;
    font-size: .9rem;
    margin-bottom: 1rem;
    margin: 1rem;
}

.title__network{
    display: flex;
    flex-wrap: nowrap;
    margin: 1rem;
}

.title__network__item{
    margin-right: 3rem;
}
